footer{
	margin-top: 144px;
	background-color: rgba($accent, 0.5);
	padding: 64px 0;
}
.footer__contacts{
	font-family: $font-main;
	font-size: 26px;
	font-weight: 700;
	line-height: 150%;
}
.adress, .mail-phone{
	padding-bottom: 38px;
	@include mediaLaptop{
		padding-bottom: 24px;
	}
}
.mail-phone{
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	a {
		border-bottom: 1px solid $black;
		width: fit-content;
		&:hover{
			border-bottom: 1px solid rgba($black, 0.8);
		}
	}
}
.icons {
	display: flex;
	column-gap: 24px;
	&__item {
		transition: .4s ease-in-out;
		&:hover {
			opacity: 0.6;
		}
	}
}
.icon {
	transition: .4s ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}
.icons8 {
	font-weight: 400;
	font-size: 12px;
	line-height: 250%;
}
.icons8-link {
	border-bottom: 1px solid $black;
}
.footer {
	&__input-form {
		width: 408px;
		display: flex;
		flex-direction: column;
		row-gap: 48px;
	}
	&__desc {
		line-height: 167%;
		font-weight: 500;
	}
}
.input-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $black;
}
.footer {
	&__input {
		padding: 11px 0;
		font-weight: 700;
		font-size: 18px;
		line-height: 133%;
		border: none;
		outline: none;
		background-color: transparent;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@include mediaLaptop{
			column-gap: 48px;
		}
	}
}
.input-img {
	width: 13px;
	height: 13px;
}
.footer {
	&__nav {
		display: grid;
		grid-template-columns: repeat(2, auto);
		column-gap: 40px;
		@include mediaLaptop{
			column-gap: 10px;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-self: right;
		row-gap: 24px;
		padding-left: 24px;
		height: fit-content;
		border-left: 1px solid rgba($black, 0.2);
	}
	&__item {
	}
	&__link {
		color: rgba($black, 0.7);
		font-weight: 500;
		&_black {
			color: rgba($black, 1);
			font-weight: 700;
		}
	}
	&__logo {
		grid-column: 2;
		align-self: end;
		transition: 0.4s;
		&:hover{
			transform: scale(1.1);
		}
	}
}





